<!DOCTYPE html>
<html>
<head>
  <title>Ivan the Terrible's Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
  <%= yield %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
